[client]

default-character-set=utf8
socket=/usr/local/mysql/run/mysql.sock


[mysql]

port                                = 3306
socket                              = /usr/local/mysql/run/mysql.sock


[mysqld]

log_timestamps                      = SYSTEM

# GENERAL #
user                                = mysql
port                                = 3306
character_set_server                = utf8
collation-server                    = utf8_general_ci
default_storage_engine              = InnoDB
basedir                             = /usr/local/mysql/
datadir                             = /usr/local/mysql/data
pid-file                            = /usr/local/mysql/run/mysqld.pid
socket                              = /usr/local/mysql/run/mysql.sock

# LOGGING #
log-error                           = /usr/local/mysql/log/mysqld.log
log_bin                             = /usr/local/mysql/binglog/mysql_bin
slow_query_log_file                 = /usr/local/mysql/log/slow.log

# INNODB #
innodb_flush_method                 = O_DIRECT
innodb_log_file_size                = 48M
innodb_buffer_pool_size             = 128M
innodb_buffer_pool_dump_at_shutdown = 1
innodb_buffer_pool_load_at_startup  = 1

# BINARY LOGGING #
server_id                           = 1
binlog_format                       = ROW
binlog_row_image                    = MINIMAL
binlog_rows_query_log_events        = ON
log_bin_trust_function_creators     = TRUE
expire_logs_days                    = 7
max_binlog_size                     = 1G

# SLOW LOG #
slow_query_log                      = 1
long_query_time                     = 1

# SECURITY #
sync_binlog                         = 1
innodb_flush_log_at_trx_commit      = 1
master_info_repository              = TABLE
relay_log_info_repository           = TABLE
relay_log_recovery                  = ON
log_slave_updates                   = ON

# GTID #
#gtid_mode                          = ON 
#enforce_gtid_consistency           = ON

# MULTITHREADING #
#slave_parallel_type                = LOGICAL_CLOCK
#slave_parallel_workers             = 16 
#slave_preserve_commit_order        = ON
#slave_rows_search_algorithms       = 'INDEX_SCAN,HASH_SCAN'
#slave_type_conversions             = ALL_NON_LOSSY
